body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: #bada55;
}

main {
  font-size: 16px;
  line-height: 20px;
  padding: 40px;
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #444;
  color: #fff;
  padding: 10px 5px;
  padding-bottom: 0;
}
